body {
  margin: 8px 0;
  padding: 0;
  font-family: Lucida, Helvetica, sans-serif;
  background-color: #96A8C8;
}
a, a:visited {
  color: #96A8C8;
  text-decoration: none;
  font-weight: bold;
}
p {
  margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 10px;
}
